body {
	background: #B0E0E6;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

head {
	margin: 0px;
	padding: 0px;
}

input

.a {
	text-decoration: none;
}

.header {
	height: 100px;
	background-color: #B0E0E6;
	/*text-align: left;*/
	padding: 5px;
	/*left: 100px;*/
	/*right: 100px;*/
}

.content {
	position: center;
	height: auto;
	width: auto;
	background-color: #B0E0E6;
	text-align: center;
	border: 1px solid #999;
	font-size: 12pt;
}

.view_post_button{
	padding: 10px 15px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-decoration: none;
}

.exit {
	top: 20px;
	right: 20px;
	position: absolute;
	/*height: 21px;
	width: 56px;
	border-radius: 3px;
	border: solid #666;
	background: #778899;
	padding: 1px;*/
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}

.input {
	top: 0px;
	right: 20px;
	position: absolute;
	padding: 1px;
	height: 21px;
	width: auto;
/*	text-decoration: none;*/

}

.registration {
	top: 40px;
	right: 20px;
	position:  absolute;
	padding: 1px;
	text-decoration: none;

}

.create_post {
	padding-left: 30px;
	left: 30px;
	background: #B0E0E6;
	
	border: 1px #666;
	border-radius: 3px;
}

.post_title {
	width: 300px;
	height: 50px;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 0px;
	border-radius: 5px;
	padding-left: 10px;
}

.post_text {
	width: 300px;
	height: 300px;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 0px;
	border-radius: 5px;
	padding-left: 10px;
}

.post_submit {
	padding: 10px 15px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}

.container_1 {
	width: 450px;
	height: 380px;
	background-color: blue;
	margin: 80px auto 0 auto;
	text-align: center;
	border-radius: 10px;
	font-size: 20px;
}

.on_main_page {
	top: 20px;
	left: 20px;
	position: absolute;
	height: 21px;
	width: auto;
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	text-decoration: none;
}

.container {
	width: 450px;
	height: 300px;
	background-color: blue;
	margin: 80px auto 0 auto;
	text-align: center;
	border-radius: 10px;
	font-size: 20px;
}

.input_login {
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 0px;
	border-radius: 5px;
	padding-left: 10px;
}

.input_submit{
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}

.input_checkbox {
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	margin-top: 10px;
}

.log_in_error {
	position: relative;
	text-align: center;
	top: 420px;
	margin: 0 0 0 0;
	font-size: 18px;
}

/*страница просмотра и редактирования постов*/
.on_main_page2 {
	top: 20px;
	right: 20px;
	position: absolute;
	height: auto;
	width: auto;
	padding: 13px 30px;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

.view_text1 {
	position: relative;
	/*text-align: left;*/
	left: 30px;
	top: 30px;
	margin: 0 0 0 0;
	font-size: 18px;
}

.view_text2 {
	position: relative;
	text-align: center;
	top: 70px;
	margin: 20px 0 0 0;
	font-size: 18px;
}

.view_div1 {
	position: relative;
	text-align: center;
	top: 70px;
	margin: 20px 0 0 0;
	font-size: 18px;
}

.view_div2 {
	position: relative;
	text-align: center;
	top: 70px;
	margin: 20px 0 0 0;
	font-size: 18px;
}

.view_button {
	padding: 10px 15px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: black;
	background-color: #2ca8c6;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-decoration: none;
}

#footer {
	height: 200px;
	text-align: center;
	font-size: 14pt;
}